<div>
  <app-upload [patientId]="patient!.id"></app-upload>
</div>

<div>
  <!-- <nz-radio-group [(ngModel)]="size">
    <label nz-radio nzValue="default">default</label>
    <label nz-radio nzValue="middle">middle</label>
    <label nz-radio nzValue="small">small</label>
  </nz-radio-group> -->
  <br />
  <br />
  <nz-descriptions nzTitle="病人信息" [nzExtra]="extraTpl" nzBordered [nzSize]="size" *ngIf="patient">
    <nz-descriptions-item nzTitle="姓名">{{patient.name}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="出生日期">{{patient.birthday}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="性别">{{patient.gender}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="病历号">{{patient.caseId}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="手机号">{{patient.phone}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="邮箱地址">{{patient.email}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="基本情况">{{patient.description}}
  </nz-descriptions-item>
  </nz-descriptions>
  <br />
  <br />
  <nz-descriptions nzTitle="辅助诊断结果" [nzSize]="size" [nzExtra]="extraTpl">
    <nz-descriptions-item nzTitle="诊断指标">EMZL/non-EMZL</nz-descriptions-item>
    <nz-descriptions-item nzTitle="影像日期">2019-8-7</nz-descriptions-item>
    <nz-descriptions-item nzTitle="模型预测">non-EMZL</nz-descriptions-item>
    <nz-descriptions-item nzTitle="诊断指标">Indolent/progressive mature B-cell lymphoma</nz-descriptions-item>
    <nz-descriptions-item nzTitle="影像日期">2019-8-7</nz-descriptions-item>
    <nz-descriptions-item nzTitle="模型预测">Progressive mature B-cell lymphoma</nz-descriptions-item>
  </nz-descriptions>
  <ng-template #extraTpl>
    <!-- <button nz-button nzType="primary">Edit</button> -->
  </ng-template>
</div>
