<nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzData]="listOfData"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
      <thead>
        <tr>
          <!-- <th
            [nzSelections]="listOfSelection"
            [(nzChecked)]="checked"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"
          ></th> -->
          <th>{{ 'Name' | translate }}</th>
          <th>{{ 'Gender' | translate }}</th>
          <th>{{ 'Birthday' | translate }}</th>
          <th>{{ 'Action' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <!-- <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td> -->
          <td>{{ data.name }}</td>
          <td>{{ data.gender }}</td>
          <td>{{ data.birthday }}</td>
          <td>
            <button nz-button nzType="primary" routerLink="/home/detail/{{data.id}}">{{ 'Detail' | translate }}</button>
            <button nz-button class="delete" nzType="primary" (click)="showDeleteConfirm(data.id)">{{ 'Delete' | translate }}</button>
          </td>
        </tr>
      </tbody>
    </nz-table>