<nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzData]="listOfData"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
      <thead>
        <tr>
          <!-- <th
            [nzSelections]="listOfSelection"
            [(nzChecked)]="checked"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"
          ></th> -->
          <th>姓名</th>
          <th>性别</th>
          <th>出生日期</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <!-- <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td> -->
          <td>{{ data.name }}</td>
          <td>{{ data.gender }}</td>
          <td>{{ data.birthday }}</td>
          <td>
            <button nz-button nzType="primary" routerLink="/home/detail/{{data.id}}">详情</button>
          </td>
        </tr>
      </tbody>
    </nz-table>