<nz-header class="header">
    <nz-row>
        <div nz-col nz-span="2">
            <div class="title">
                <p class="header-text">{{'Lymphoma Auxiliary Diagnosis System' | translate}}</p>
              </div>
        </div>
        <div nz-col nz-span="2" nzOffset="5">
            <nz-avatar routerLink="/login" nzText="U"
                style="color: coral; background-color: antiquewhite; position: relative;">
            </nz-avatar>
        </div>
    </nz-row>
    
    
  </nz-header>