<div class="register-content">
  <div class="title">
    <h1>{{ 'Patient Register' | translate }}</h1>
  </div>
  <div class="form">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">{{ 'Name' | translate }}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="name" id="name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gender">{{ 'Gender' | translate }}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="gender" id="gender" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="birthday">{{ 'Birthday' | translate }}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <nz-date-picker formControlName="birthday"></nz-date-picker>
        <!-- <nz-time-picker formControlName="timePicker"></nz-time-picker> -->
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="caseId">{{ 'Medical record number' | translate
        }}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="caseId" id="caseId" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="phone">{{ 'Phone number' | translate }}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="phone" id="phone" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description">{{ 'Basic description' | translate
        }}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <textarea formControlName="description" nz-input rows="4"
          placeholder="{{ 'Condition description' | translate }}"></textarea>
      </nz-form-control>
    </nz-form-item>



    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" (ngSubmit)="submitForm()" >{{ 'Register' | translate }}</button>
        <button nz-button (click)="resetForm($event)">{{ 'Reset' | translate }}</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <!-- [disabled]="!validateForm.valid" -->

</div>
</div>