.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
nz-layout {
  height: 100%;
}
nz-header {
  background: #fff;
  padding: 0;
}
nz-slider{
  height: 100%;
}
nz-content {
  margin: 0 16px;

}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
  max-height: 800px;
  overflow-y: scroll;
}

nz-footer {
  background-color: #ffffff; 
  text-align: center;
  padding: 20px; /* 设置内边距 */
  font-size: 15px;
  font-weight: 400;
  color:#555;
}
span.icons {
  color:rgba(255, 255, 255, 0.877);
}

span {
  color:rgba(250, 250, 250, 0.877);
  margin-left: 5pt;
  /* font-weight: bold; */
}
.logo {
  text-align: center;
  background-color: rgb(21, 26, 36);
}
.header {
  color:#00b7ffe0;
  position: relative;
  top: 4px;

  font-weight: bold;
  text-align: center;
  font-size: larger;
  

}

ul  {
  /* background-color: #333; */
  list-style-type: none;
  
}

li {
  margin-left: 5px;
  font-size: 16px;
  color: #fff;
  padding-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

/* 图标样式 */
.icons {
  margin-right: 10px;
  font-size: 18px;
}

/* 鼠标悬停效果 */
li nz-menu-item:hover {
  background-color: #555;
}

/* 激活的菜单项 */
li nz-menu-item.active {
  background-color: #007bff;
}

/* 阴影和圆角 */
ul nz-menu {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}