<nz-layout class="layout">
  
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="logo">
      <span nz-icon [nzTwotoneColor]="'yellow'" [nzTheme]="'fill'" [nzType]="'home'" style="margin: 10px;"></span>
    </div>
    <nav>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        
        <span class="icons" nz-icon nzType="user"></span>
        
        <a routerLink="/home/detail"><span>病人信息</span></a>
    
      </li>
      <li nz-menu-item>
        <span class="icons" nz-icon nzType="video-camera"></span>
        
        <a routerLink="/home/dashboard"><span>病人列表</span></a>
      </li>

      <li nz-menu-item>
        <span class="icons" nz-icon nzType="user"></span>
        
        <a routerLink="/home/setting"><span>设置</span></a>
      </li>
    </ul>
  </nav>
  </nz-sider>
  <nz-layout class="layout">
    <app-header></app-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <!-- <nz-footer>Ant Design ©2023 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>

